
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500&display=swap');

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    cursor: url('../images/trishul/cursor.png'), auto; 
}



.section{
    padding:50px 80px;
    text-align: center;
}

.section-birth_of_durga,.section-Mahishasura_Mardini{
    background-color:#f4f4f4;
    color:#666;
    font-size: 24px;
    /* text-align: justify; */
}
.section-birth_of_durga{
    background-image: url(../images/text_bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-Mahishasura_Mardini {
    border-bottom: 2px solid;
    background: linear-gradient(135deg, #ffcc80, #ff7043);
    color:#2c3e50; /* White text for high contrast */
}
.section-Mahishasura_Mardini h2{
    
        color: #d32f2f; /* Rich red color for the heading */
    
}
.pmg1{
    background-image: url(../images/durga_img_2024/d16.jpg);
}
.pmg2{
    background-image: url(../images/durga_img_2024/d11.jpg);
}
.pmg3{
    background-image: url(../images/durga_img_2024/d12.jpg);
}
.pmg1,.pmg2,.pmg3{
    background-size: cover;
    min-width: 450px;
    height: 200px;
}

.pmg1,.pmg2,.pmg3{
    /* top: 30px; */
    position:relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 855px) {
    .pmg1, .pmg2, .pmg3 {
    background-size: cover;
    max-width: 450px;
    height: 200px;
}
}




